<div class="container" style="margin-top:30px">
    <div className="section_title">
        <h3 className="title_program" >
            End to End Program
        </h3>
    </div>
    <div class="row">
      <div class = "col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">STEP 1</h4>
            <div class="card-image" style="color: #213661;">
                <img draggable="false" src={hack} alt="brand-img" className="img-fluid" />
            </div>
            <p class="card-text ">Go through the course content thoroughly and enroll before the batch begins.</p>
          </div>
        </div>
      </div>
       <div class = "col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">STEP 2</h4>
            <div class="card-image" style="color: #5e371b;">
                <img draggable="false" src={team} alt="brand-img" className="img-fluid" />
            </div>
            <p class="card-text">Attend all the weekly interactive sessions from 9pm - 10pm, 4 times a week and do all your projects and assignments.</p>
          </div>
        </div>
      </div>
       <div class = "col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">STEP 3</h4>
            <div class="card-image" style="color:#bc3330;">
                <img draggable="false" src={conf} alt="brand-img" className="img-fluid" />
            </div>
            <p class="card-text">Eureka! Get certified and Get yourself placed as an intern in one of our partner startups now that you have completed the course.</p>
          </div>
        </div>
      </div>
  
  
    </div>
  </div>


  <div class="container">
    <main class="grid">
      <article>
        <img draggable="false" src={hack} alt="brand-img" className="img-fluid" />
        <div class="text">
          <h3>Seamlessly visualize quality</h3>
          <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
        </div>
      </article>
      <article>
        <img draggable="false" src={team} alt="brand-img" className="img-fluid" />
        <div class="text">
          <h3>Completely Synergize</h3>
          <p>Dramatically engage seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
        </div>
      </article>
      <article>
        <img draggable="false" src={conf} alt="brand-img" className="img-fluid" />
        <div class="text">
          <h3>Dynamically Procrastinate</h3>
          <p>Completely synergize resource taxing relationships via premier niche markets.</p>
        </div>
      </article>
    </main>
  </div>