.about{
    padding-top: 20px;
    width: auto;
    background-color: #222;
    background-size: cover;
    overflow: hidden;
}

.p{
    font-size: 16px;
    color: white;
}
.about_span{
    color: white;
}
.span2{
    color: tomato;
}

.para{
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
    color: white;
    padding-top: 30px;
}

.title_about{
        font-size: calc(1.5rem + 2vw);
       
        color: tomato;
        font-weight: 600;
        padding: 1.5rem 0;
        margin-bottom: 1rem;
        padding-top: 40px   ;
}